= form_for @admin do |f|
  - if @admin.errors.any?
    #error_explanation
      %h2= t('error.admin', count: @admin.errors.count)
      %ul
        - @admin.errors.full_messages.each do |msg|
          %li= msg
  .panel
    %h3= f.label :username
    .pc= f.text_field :username, autofocus: true
  .panel
    %h3= f.label :email
    .pc= f.text_field :email
  .panel
    %h3= f.label :password
    .pc= f.password_field :password, placeholder: @admin.id ? t('leave_blank_if_no_changes') : nil
  - unless @admin.id
    .separator
  .actions
    = f.submit t('Save'), class: "button button-green"

- if @admin.id
  .separator
  - if @show_qrcode == 1
    .panel
      %h3= t('Google_Authenticator_QRCode')
      .pc
        .qrcode{ data: { text: generate_google_authenticator_qrcode_for_admin(@admin) } }
    .actions= link_to t('Back'), edit_admin_path(@admin), class: "button button-blue"
  - else
    = form_tag edit_admin_path(@admin) do
      .panel
        %h3= label_tag :password, t('helpers.label.admin.password')
        .pc= password_field_tag :password, nil, placeholder: t('your_current_password')
      .actions= submit_tag t('View_Google_Authenticator_QRCode'), name: "google", class: "button button-blue"
  .separator
  - if @show_qrcode == 2 or @show_qrcode == 3
    - if @show_qrcode == 2
      .panel
        %h3= t('Mobile_Authentication_QRCode')
        .pc
          .qrcode{ data: { text: generate_mobile_authentication_qrcode_for_admin(@admin) } }
      .actions= link_to t('Back'), edit_admin_path(@admin), class: "button button-blue"
    - if @show_qrcode == 3
      .actions= link_to t('Authenticate_Now'), 'easyjobs://' + generate_mobile_authentication_qrcode_for_admin(@admin), class: "button button-green"
      .actions= link_to t('Back'), edit_admin_path(@admin), class: "button button-blue"
  - else
    = form_tag edit_admin_path(@admin) do
      .panel
        %h3= label_tag :password, t('helpers.label.admin.password')
        .pc= password_field_tag :password, nil, placeholder: t('your_current_password')
      .actions= submit_tag t('Get_Mobile_Authentication_QRCode'), name: "mobile", class: "button button-blue"
      .actions= submit_tag t('Get_Authentication_Link'), name: "link", class: "button button-blue"
