= form_for @admin do |f|
  - if @admin.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin.errors.count, "error")} prohibited this admin from being saved:"
      %ul
        - @admin.errors.full_messages.each do |msg|
          %li= msg
  .panel
    %h3= f.label :username
    .pc= f.text_field :username, autofocus: true
  .panel
    %h3= f.label :email
    .pc= f.text_field :email
  .panel
    %h3= f.label :password
    .pc= f.password_field :password
  - if @admin.id
    .panel
      %h3= t('Google_Authenticator_QRCode')
      .pc= generate_google_authenticator_qrcode_for_admin @admin
  .separator
  .actions
    = f.submit t('Save'), class: "button button-green"
