= render 'menu'

%table.list
  %thead
    %tr
      %th ID
      %th= t('helpers.label.admin.username')
      %th= t('helpers.label.admin.email')
      %th.date= t('helpers.label.admin.Last_Sign_In_At')
  %tfoot
    %tr
      %td{ colspan: 4 }
        = t("admin", count: @admins.size)
  - @admins.each do |admin|
    %tr
      %td= admin.id
      %td
        = link_to admin.username, admin
        - if current_admin.id == admin.id
          %em
            %small= t("this_is_you")
      %td= admin.email
      %td.date
        - if admin.last_sign_in_at.present?
          %abbr.timeago{ title: admin.last_sign_in_at.getutc.iso8601 }
            = admin.last_sign_in_at
        - else
          (n/a)

%script<= raw jquery_timeago_tranlations
