= render 'menu'
:css
  @media only screen and (max-width: 480px) {
    table#admins td:nth-of-type(1):before { content: "ID"; }
    table#admins td:nth-of-type(2):before { content: "#{t('helpers.label.admin.username')}"; }
    table#admins td:nth-of-type(3):before { content: "#{t('helpers.label.admin.email')}"; }
    table#admins td:nth-of-type(4):before { content: "#{t('helpers.label.admin.Last_Sign_In_At')}"; }
  }
%table#admins.list
  %thead
    %tr
      %th ID
      %th= t('helpers.label.admin.username')
      %th= t('helpers.label.admin.email')
      %th.date= t('helpers.label.admin.Last_Sign_In_At')
  %tfoot
    %tr
      %td{ colspan: 4 }
        = t("admin", count: @admins.size)
  - @admins.each do |admin|
    %tr
      %td= admin.id
      %td
        = link_to admin.username, admin
        - if current_admin.id == admin.id
          %em
            %small= t("this_is_you")
      %td= admin.email
      %td.date
        - if admin.last_sign_in_at.present?
          %abbr.timeago{ title: admin.last_sign_in_at.getutc.iso8601 }
            = admin.last_sign_in_at
        - else
          (n/a)

%script<= raw jquery_timeago_tranlations
