= render 'menu'

.panel.float
  %h3= t('helpers.label.admin.username')
  .pc
    = @admin.username
.panel.float
  %h3= t('helpers.label.admin.email')
  .pc
    = @admin.email
.panel.float
  %h3= t('helpers.label.admin.Sign_In_Count')
  .pc
    = @admin.sign_in_count
.panel.float
  %h3= t('helpers.label.admin.Current_Sign_In_At')
  .pc
    - if @admin.current_sign_in_at.present?
      %abbr.timeago{ title: @admin.current_sign_in_at.getutc.iso8601 }
        = @admin.current_sign_in_at
    - else
      (n/a)
.panel.float
  %h3= t('helpers.label.admin.Last_Sign_In_At')
  .pc
    - if @admin.last_sign_in_at.present?
      %abbr.timeago{ title: @admin.last_sign_in_at.getutc.iso8601 }
        = @admin.last_sign_in_at
    - else
      (n/a)
.panel.float
  %h3= t('helpers.label.admin.Created_At')
  .pc
    %abbr.timeago{ title: @admin.created_at.getutc.iso8601 }
      = @admin.created_at
.panel.float
  %h3= t('helpers.label.admin.Current_Sign_In_IP')
  .pc
    = @admin.current_sign_in_ip.presence || "(n/a)"
.panel.float
  %h3= t('helpers.label.admin.Last_Sign_In_IP')
  .pc
    = @admin.last_sign_in_ip.presence || "(n/a)"
.panel.float
  %h3= t('helpers.label.admin.Updated_At')
  .pc
    %abbr.timeago{ title: @admin.updated_at.getutc.iso8601 }
      = @admin.updated_at
.clear

%script<= raw jquery_timeago_tranlations
