= form_for @job do |f|
  - if @job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@job.errors.count, "error")} prohibited this job from being saved:"
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg

  .panel.float
    %h3= f.label :name
    .pc= f.text_field :name, autofocus: true
  .panel.float
    %h3= f.label :server_id
    .pc
      .select= f.collection_select :server_id, Server.all, :id, :name, include_blank: "(none)"
  .panel.float
    %h3= f.label :interpreter_id
    .pc
      .select= f.collection_select :interpreter_id, Interpreter.all, :id, :path, include_blank: "(default)"
  .panel.max
    %h3= f.label :script
    .pc= f.text_area :script, size: "80x10"
  .separator
  .actions
    = f.submit t('Save'), class: "button button-green"
