= form_for @job do |f|
  - if @job.errors.any?
    #error_explanation
      %h2= t('error.job', count: @job.errors.count)
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg

  .panel.float
    %h3= f.label :name
    .pc= f.text_field :name, autofocus: true
  .panel.float
    %h3= f.label :server_id
    .pc
      .select= f.collection_select :server_id, Server.all, :id, :name, include_blank: t("none")
  .panel.float
    %h3= f.label :interpreter_id
    .pc
      .select= f.collection_select :interpreter_id, Interpreter.all, :id, :path, include_blank: t("default")
  .panel.max
    %h3= f.label :script
    .pc= f.text_area :script, size: "80x10"
  .panel.float
    %h3= f.label :type_id
    .pc
      .select= f.collection_select :type_id, Type.all, :id, :name, include_blank: t("none")
  .separator.clear
  .actions
    - if @job.id
      = hidden_field_tag "referrer", request.referrer
      = f.submit t('Save_and_go_back_to_previous_page'), name: "save_and_go_back", class: "button button-green"
    = f.submit t('Save'), class: "button button-green"
