#submenu.button_group
  = link_to t('Listing_Jobs'), jobs_path, class: "button" + (active_action? %w(index))
  - job_id = @job.try(:id)
  - job_id = session[:job_id] if job_id.nil? and session[:job_id].present?
  - if job_id.present?
    = link_to t('Job_Details'), job_path(job_id), class: "button" + (active_action? %w(show))
    = link_to t('Edit_Job'), edit_job_path(job_id), class: "button" + (active_action? %w(edit update))
    = link_to delete_job_path(job_id), title: t('Delete_Job'), class: "button button-red delete#{active_action? %w(delete)}" do
      %span.icon
  = link_to t('New_Job'), new_job_path, class: "button button-green" + (active_action? %w(new create))
.menu_div
