#submenu.button_group
  = link_to 'Listing Jobs', jobs_path, class: "button active"
  - if session[:job_id].present?
    = link_to 'Job Details', job_path(session[:job_id]), class: "button"
    = link_to 'Edit Job', edit_job_path(session[:job_id]), class: "button"
    = link_to delete_job_path(session[:job_id]), class: "button button-red delete" do
      %span.icon Delete
  = link_to 'New Job', new_job_path, class: "button button-green"
.menu_div

%table.list
  %thead
    %tr
      %th ID
      %th Name
      %th.server Server
      %th.date Updated at
  %tfoot
    %tr
      %td{ colspan: 4 }
        .table-pager
          <a href="#" class="table-pager-link prev">Previous</a>
          <a href="#" class="table-pager-link next">Next</a>
        = pluralize(@jobs.size, "job")
  %tbody
    - @jobs.each do |job|
      %tr
        %td= job.id
        %td
          = link_to job.name, job
          %span.interpreter
            = job.interpreter.try(:path).presence || "Script"
        %td.server
          = link_to job.server.name, server_path(job.server) unless job.server.nil?
        %td.date= job.updated_at
