%h1 Listing jobs

%table.list
  %thead
    %tr
      %th ID
      %th Name
      %th.date Created at
  %tfoot
    %tr
      %td{ colspan: 3 }
        .table-pager
          <a href="#" class="table-pager-link prev">Previous</a>
          <a href="#" class="table-pager-link next">Next</a>
        = pluralize(@jobs.size, "job")
  %tbody
    - @jobs.each do |job|
      %tr
        %td= job.id
        %td= link_to job.name, job
        %td.date= job.created_at

%br

= link_to 'New Job', new_job_path
