#submenu.button_group
  = link_to 'Listing Jobs', jobs_path, class: "button active"
  = link_to 'Job Details', job_path(session[:job_id]), class: "button" if session[:job_id].present?
  = link_to 'Edit Job', edit_job_path(session[:job_id]), class: "button" if session[:job_id].present?
  = link_to 'New Job', new_job_path, class: "button button-green"
.menu_div

%table.list
  %thead
    %tr
      %th ID
      %th Name
      %th.date Updated at
  %tfoot
    %tr
      %td{ colspan: 3 }
        .table-pager
          <a href="#" class="table-pager-link prev">Previous</a>
          <a href="#" class="table-pager-link next">Next</a>
        = pluralize(@jobs.size, "job")
  %tbody
    - @jobs.each do |job|
      %tr
        %td= job.id
        %td= link_to job.name, job
        %td.date= job.updated_at
