#submenu.button_group
  = link_to 'Listing Jobs', jobs_path, class: "button"
  = link_to 'Job Details', job_path(session[:job_id]), class: "button" if session[:job_id].present?
  = link_to 'Edit Job', edit_job_path(session[:job_id]), class: "button" if session[:job_id].present?
  = link_to 'New Job', new_job_path, class: "button button-green active"
.menu_div

= render 'form'
