#submenu.button_group
  = link_to 'Listing Jobs', jobs_path, class: "button"
  = link_to 'Job Details', job_path(@job), class: "button active"
  = link_to 'Edit Job', edit_job_path(@job), class: "button"
  = link_to 'New Job', new_job_path, class: "button button-green"
.menu_div

.panel
  %h3 Name
  .pc
    = @job.name

.panel
  %h3 Script
  .pc.script
    = @job.script

.panel
  %h3 Server
  .pc
    = @job.server ? link_to(@job.server.name, server_path(@job.server)) : "(none)"
    %br
    = "#{@job.server.username}@#{@job.server.host}"

.field
  = link_to 'Run', '', data: { cancel: 'Cancel', run: 'Run', to: run_job_path(@job) }, id: "run_job", class: "button button-blue"

.separator

%pre#output Pending.
