%p#notice= notice

%p
  %b Name:
  = @job.name
%p
  %b Script:
  = @job.script
%p
  %b Server:
  = @job.server ? link_to(@job.server.name, server_path(@job.server)) : "(none)"

%p
  = button_to 'Run', run_job_path(@job)

= link_to 'Edit', edit_job_path(@job)
\|
= link_to 'Back', jobs_path
