= form_for @server do |f|
  - if @server.errors.any?
    #error_explanation
      %h2= t('error.server', count: @server.errors.count)
      %ul
        - @server.errors.full_messages.each do |msg|
          %li= msg
  .panel
    %h3= f.label :name
    .pc= f.text_field :name, autofocus: true
  .panel
    %h3= f.label :host
    .pc= f.text_field :host
  .panel
    %h3= f.label :username
    .pc= f.text_field :username, autocomplete: :off
  .panel
    - if @server.id
      %h3
        = f.check_box :need_password
        = f.label :need_password, t('helpers.label.server.password')
      .pc
        = f.password_field :password, placeholder: t('leave_blank_if_no_changes')
    - else
      %h3= f.label :password
      .pc= f.password_field :password
  .panel
    %h3= f.label :constant_id, t("Private_Key_Constant")
    .pc
      .select= f.collection_select :constant_id, Constant.all, :id, :name, include_blank: "(none)"
  .separator
  .actions
    - if @server.id
      = hidden_field_tag "referrer", request.referrer
      = f.submit t('Save_and_go_back_to_previous_page'), name: "save_and_go_back", class: "button button-green"
    = f.submit t('Save'), class: "button button-green"
