= form_for @server do |f|
  - if @server.errors.any?
    #error_explanation
      %h2= "#{pluralize(@server.errors.count, "error")} prohibited this server from being saved:"
      %ul
        - @server.errors.full_messages.each do |msg|
          %li= msg
  .panel
    %h3= f.label :name
    .pc= f.text_field :name, autofocus: true
  .panel
    %h3= f.label :host
    .pc= f.text_field :host
  .panel
    %h3= f.label :username
    .pc= f.text_field :username
  .panel
    %h3= f.label :password
    .pc= f.text_field :password
  .separator
  .actions
    = f.submit 'Save', class: "button button-green"
