#submenu.button_group
  = link_to servers_path, class: "button button-list#{active_action? %w(index)}" do
    %span.icon= t('Listing_Servers')
  - server_id = @server.try(:id)
  - server_id = session[:server_id] if server_id.nil? and session[:server_id].present?
  - if server_id.present?
    = link_to server_path(server_id), class: "button button-details#{active_action? %w(show)}" do
      %span.icon= t('Server_Details')
    = link_to edit_server_path(server_id), class: "button button-edit#{active_action? %w(edit update)}" do
      %span.icon= t('Edit_Server')
    = link_to delete_server_path(server_id), title: t('Delete_Server'), class: "button button-delete button-red delete#{active_action? %w(delete)}" do
      %span.icon
  = link_to new_server_path, class: "button button-new button-green#{active_action? %w(new create)}" do
    %span.icon= t('New_Server')
.menu_div
