= render 'menu'

.panel.max
  %h3= t("Deleting_Server", server: @server.name)
  .confirm
    = t('Delete_Server_Confirm')
    %br
    = t('Delete_Server_Jobs_Related', count: @server.jobs.count)
    .buttons
      = link_to t('Delete_Server_Yes'), server_path(@server), method: :delete, class: "button button-red"
