= render 'menu'
:css
  @media only screen and (max-width: 480px) {
    table#servers td:nth-of-type(1):before { content: "ID"; }
    table#servers td:nth-of-type(2):before { content: "#{t('helpers.label.server.name')}"; }
    table#servers td:nth-of-type(3):before { content: "#{t('helpers.label.server.host')}"; }
    table#servers td:nth-of-type(4):before { content: "#{t('helpers.label.server.username')}"; }
    table#servers td:nth-of-type(5):before { content: "#{t('helpers.label.server.jobs')}"; }
  }
%table#servers.list
  %thead
    %tr
      %th ID
      %th= t('helpers.label.server.name')
      %th= t('helpers.label.server.host')
      %th= t('helpers.label.server.username')
      %th= t('helpers.label.server.jobs')
  %tfoot
    %tr
      %td{ colspan: 5 }
        = t("server", count: @servers.size)
  %tbody
    - @servers.each do |server|
      %tr
        %td= server.id
        %td
          = link_to server.name, server
          = link_to(t('Change_Key'), edit_server_path(server), title: t('Change_Key'), class: "key") if server.constant.present?
        %td= server.host
        %td= server.username
        %td= server.jobs.count
