%h1 Listing servers

%table.list
  %thead
    %tr
      %th ID
      %th Name
      %th Host
      %th Username
  %tfoot
    %tr
      %td{ colspan: 4 }
        .table-pager
          <a href="#" class="table-pager-link prev">Previous</a>
          <a href="#" class="table-pager-link next">Next</a>
        = pluralize(@servers.size, "server")
  %tbody
    - @servers.each do |server|
      %tr
        %td= server.id
        %td= link_to server.name, server
        %td= server.host
        %td= server.username

%br

= link_to 'New Server', new_server_path
