#submenu.button_group
  = link_to 'Listing Servers', servers_path, class: "button active"
  = link_to 'Server Details', server_path(session[:server_id]), class: "button" if session[:server_id].present?
  = link_to 'Edit Server', edit_server_path(session[:server_id]), class: "button" if session[:server_id].present?
  = link_to 'New Server', new_server_path, class: "button button-green"
.menu_div

%table.list
  %thead
    %tr
      %th ID
      %th Name
      %th Host
      %th Username
  %tfoot
    %tr
      %td{ colspan: 4 }
        .table-pager
          <a href="#" class="table-pager-link prev">Previous</a>
          <a href="#" class="table-pager-link next">Next</a>
        = pluralize(@servers.size, "server")
  %tbody
    - @servers.each do |server|
      %tr
        %td= server.id
        %td= link_to server.name, server
        %td= server.host
        %td= server.username
