= render 'menu'

%table.list
  %thead
    %tr
      %th ID
      %th Name
      %th Host
      %th Username
  %tfoot
    %tr
      %td{ colspan: 4 }
        = pluralize(@servers.size, "server")
  %tbody
    - @servers.each do |server|
      %tr
        %td= server.id
        %td
          = link_to server.name, server
          = link_to('Change Key', edit_server_path(server), class: "key") if server.constant.present?
        %td= server.host
        %td= server.username
