= render 'menu'

%table.list
  %thead
    %tr
      %th ID
      %th= t('helpers.label.server.name')
      %th= t('helpers.label.server.host')
      %th= t('helpers.label.server.username')
  %tfoot
    %tr
      %td{ colspan: 4 }
        = t("server", count: @servers.size)
  %tbody
    - @servers.each do |server|
      %tr
        %td= server.id
        %td
          = link_to server.name, server
          = link_to(t('Change_Key'), edit_server_path(server), title: t('Change_Key'), class: "key") if server.constant.present?
        %td= server.host
        %td= server.username
