#submenu.button_group
  = link_to 'Listing Servers', servers_path, class: "button"
  = link_to 'Server Details', server_path(session[:server_id]), class: "button" if session[:server_id].present?
  = link_to 'Edit Server', edit_server_path(session[:server_id]), class: "button" if session[:server_id].present?
  = link_to 'New Server', new_server_path, class: "button button-green active"
.menu_div

= render 'form'
