#submenu.button_group
  = link_to 'Listing Servers', servers_path, class: "button"
  = link_to 'Server Details', server_path(@server), class: "button active"
  = link_to 'Edit Server', edit_server_path(@server), class: "button"
  = link_to 'New Server', new_server_path, class: "button button-green"
.menu_div

%p
  %b Name:
  = @server.name
%p
  %b Host:
  = @server.host
%p
  %b Username:
  = @server.username
%p
  %b Password:
  = "*" * @server.password.length
%p
  %b Jobs:
  %ul
    - @server.jobs.each do |job|
      %li= link_to job.name, job_path(job)
