#submenu.button_group
  = link_to 'Listing Servers', servers_path, class: "button"
  = link_to 'Server Details', server_path(@server), class: "button active"
  = link_to 'Edit Server', edit_server_path(@server), class: "button"
  = link_to 'New Server', new_server_path, class: "button button-green"
.menu_div

.panel.float
  %h3 Name
  .pc
    = @server.name
.panel.float
  %h3 Host
  .pc
    = @server.host
.panel.float
  %h3 Username (Password)
  .pc
    = "#{@server.username} (#{"*" * @server.password.length})"

%table.list
  %thead
    %tr
      %th ID
      %th Name
      %th.date Updated at
  %tfoot
    %tr
      %td{ colspan: 3 }
        = pluralize(@server.jobs.size, "related job")
  %tbody
    - @server.jobs.each do |job|
      %tr
        %td= job.id
        %td= link_to job.name, job
        %td.date= job.updated_at
