= render 'menu'

.panel.float
  %h3= t('helpers.label.server.name')
  .pc
    = @server.name
.panel.float
  %h3= t('helpers.label.server.host')
  .pc
    = @server.host
.panel.float
  %h3= t('helpers.label.server.userpass')
  .pc
    = "#{@server.username} (" + (@server.password.blank? ? t("no_password") : "*" * @server.password.length) +  ")"
.clear
.panel.float
  %h3= t('Private_Key_Constant')
  .pc
    = @server.constant.present? ? link_to(@server.constant.name, settings_path) : t("none")

.clear
.separator

- if @server.jobs.size == 0
  .field
    = link_to t('create_blank_job'), create_blank_job_for_server_path(@server), method: :post, class: "button button-blue"
- else
  :css
    @media only screen and (max-width: 480px) {
      table#jobs td:nth-of-type(1):before { content: "ID"; }
      table#jobs td:nth-of-type(2):before { content: "#{t('helpers.label.job.name')}"; }
      table#jobs td:nth-of-type(3):before { content: "#{t('helpers.label.job.Updated_At')}"; }
    }
  %table#jobs.list
    %thead
      %tr
        %th ID
        %th= t('helpers.label.job.name')
        %th.date= t('helpers.label.job.Updated_At')
    %tfoot
      %tr
        %td{ colspan: 3 }
          = t("related_job", count: @server.jobs.size)
    %tbody
      - @server.jobs.each do |job|
        %tr
          %td= job.id
          %td
            = link_to job.name, job
            %span.interpreter
              = job.interpreter.try(:path).presence || "Script"
          %td.date
            %abbr.timeago{ title: job.updated_at.getutc.iso8601 }
              = job.updated_at

%script<= raw jquery_timeago_tranlations
