.menu_div

:css
  @media only screen and (max-width: 480px) {
    table#types td:nth-of-type(1):before { content: "ID"; }
    table#types td:nth-of-type(2):before { content: "#{t('Type_Name')}"; }

    table#interpreters td:nth-of-type(1):before { content: "ID"; }
    table#interpreters td:nth-of-type(2):before { content: "#{t('Path_of_interpreter')}"; }
    table#interpreters td:nth-of-type(3):before { content: "#{t('Options')}"; }

    table#constants td:nth-of-type(1):before { content: "ID"; }
    table#constants td:nth-of-type(2):before { content: "#{t('Constant_Name')}"; }
    table#constants td:nth-of-type(3):before { content: "#{t('Size')}"; }
    table#constants td:nth-of-type(4):before { content: "#{t('Updated_At')}"; }
    table#constants td:nth-of-type(5):before { content: "#{t('Actions')}"; }
  }
.settings-p1
  = form_tag edit_types_path, method: :put do
    %table#types.list
      %thead
        %tr
          %th ID
          %th.name= t("Type_Name")
      %tfoot
        %tr
          %td{ colspan: 2 }
            = t("job_type", count: @types.size - 1 )
      %tbody
        - @types.each do |type|
          %tr
            %td
              = type.id if type.id > 0
              = hidden_field_tag "types[]", type.id, id: nil
            %td.name
              = text_field_tag "types_name[]", type.name, id: nil
    = submit_tag t("Save_Changes"), class: "button button-blue"

.settings-p2
  = form_tag edit_interpreters_path, method: :put do
    %table#interpreters.list
      %thead
        %tr
          %th ID
          %th.path= t("Path_of_interpreter")
          %th= t("Options")
      %tfoot
        %tr
          %td{ colspan: 3 }
            = t("interpreter", count: @interpreters.size - 1 )
      %tbody
        - @interpreters.each do |interpreter|
          %tr
            %td
              = interpreter.id if interpreter.id > 0
              = hidden_field_tag "interpreters[]", interpreter.id, id: nil
            %td.path
              = text_field_tag "interpreters_path[]", interpreter.path, id: nil
            %td
              = check_box_tag "interpreters_usf[]", interpreter.id, interpreter.upload_script_first, id: "interpreter_usf_#{interpreter.id}", class: "check_box"
              = label_tag "interpreter_usf_#{interpreter.id}", t("Upload_script_first")
    = submit_tag t("Save_Changes"), class: "button button-blue"

.separator.clear

= form_tag edit_constants_path, method: :put do
  %table#constants.list
    %thead
      %tr
        %th ID
        %th.name= t("Constant_Name")
        %th.size= t("Size")
        %th.date= t("Updated_At")
        %th= t("Actions")
    %tfoot
      %tr
        %td{ colspan: 5 }
          = t("constant", count: @constants.size - 1 )
    %tbody
      - @constants.each do |constant|
        %tr
          %td
            = constant.id if constant.id > 0
            = hidden_field_tag "constants[]", constant.id, id: nil
          %td.name
            = text_field_tag "constants_name[]", constant.name, id: nil
          %td.size
            = constant.content.length if constant.id > 0
          %td.date
            - if constant.id > 0
              %abbr.timeago{ title: constant.updated_at.getutc.iso8601 }
                = constant.updated_at
          %td
            = link_to t('edit_content'), '#', class: "edit-constant-content", data: { id: constant.id, action: edit_content_of_constant_path(constant) } if constant.id > 0
  = submit_tag t("Save_Changes"), class: "button button-blue"

%script
  = raw i18n_javascript_for_current_controller
  = raw jquery_timeago_tranlations
