= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { novalidate: '' } ) do |f|
  .panel
    %h3= f.label :login
    .pc= f.email_field :login, id: 'login'
  .panel
    %h3= f.label :password
    .pc= f.password_field :password
  .panel
    %h3= f.label :auth_code, t('Google_Authenticator_Code')
    .pc= f.number_field :auth_code, autocomplete: :off
  = f.check_box :remember_me
  = f.label :remember_me
  .separator
  .actions
    = f.submit t('Sign_In'), class: "button button-green"

-# auto-focused text input on iPhone can't click to edit
:javascript
  if (!navigator.userAgent.match(/(iPad|iPhone|iPod)/g))
    document.getElementById('login').focus();

<!--[if IE]>
%small= t('dont_use_ie')
<![endif]-->
