= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .panel
    %h3= f.label :login
    .pc= f.text_field :login, autofocus: true
  .panel
    %h3= f.label :password
    .pc= f.password_field :password
  .panel
    %h3= f.label :auth_code, 'Google Authenticator Code'
    .pc= f.text_field :auth_code
  = f.check_box :remember_me
  = f.label :remember_me
  .separator
  .actions
    = f.submit 'Sign In', class: "button button-green"

<!--[if IE]>
%small Please don't use Internet Explorer as it doesn't support HTML5 Server-Sent Events.
<![endif]-->
