!!!
%html
  %head
    %meta{ charset: 'UTF-8' }
    %title EasyJobs
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #na_container
      - if notice
        #notice.will_disappear
          = notice
      - if alert
        #alert.will_disappear
          = alert
    #wrapper
      #main.small
        #header
          %h1#title= t('Log_into_EasyJobs')
        = yield
