!!!
%html
  %head
    = render '/layouts/head'
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1' }
  %body
    #na_container
      - if notice
        #notice
          = notice
      - if alert
        #alert
          = alert
    #wrapper
      #main.small
        #header
          %h1#title
            = t('Log_into_EasyJobs')
            .right
              - I18n.available_locales.each do |locale|
                - if I18n.locale.to_s == locale.to_s
                  %b= t(locale, locale: locale)
                - else
                  = link_to t(locale, locale: locale), { locale: locale }
        = yield
    :javascript
      window.onload = function(){
        setTimeout(function(){
          var nac=document.getElementById('na_container');
          if(nac)document.getElementsByTagName('body')[0].removeChild(nac);
        }, 4000);
      };
