!!!
%html
  %head
    %title EasyJobs
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = link_to 'Jobs', jobs_path
    = link_to 'Servers', servers_path
    = yield
