!!!
%html
  %head
    %title EasyJobs
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    - if notice
      #notice
        = notice
        %a.close{ href: "#" } x
    - if alert
      #alert
        = alert
        %a.close{ href: "#" } x
    #wrapper
      #main
        #header
          %h1#title
            EasyJobs
            .right
              = link_to 'Log Out', destroy_admin_session_path, method: :delete, data: { confirm: 'Are you sure?' }
        #menu.button_group
          = link_to 'Jobs', jobs_path, class: "button" + (params[:controller]=="jobs" ? " active" : "")
          = link_to 'Servers', servers_path, class: "button" + (params[:controller]=="servers" ? " active" : "")
          = link_to 'Admins', admins_path, class: "button" + (params[:controller]=="admins" ? " active" : "")
          = link_to 'Settings', settings_path, class: "button" + (params[:controller]=="settings" ? " active" : "")
        = yield
