!!!
%html
  %head
    %title EasyJobs
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    - if notice
      #notice
        = notice
        %a.close{ href: "#" } x
    - if alert
      #alert
        = alert
        %a.close{ href: "#" } x
    #wrapper
      #main
        #header
          %h1#title
            EasyJobs
            .right
              = link_to current_admin.username, edit_admin_path(current_admin)
              |
              = link_to t('Log_Out'), destroy_admin_session_path, method: :delete
        #menu.button_group
          = link_to t('Jobs'), jobs_path, class: "button" + (params[:controller]=="jobs" ? " active" : "")
          = link_to t('Servers'), servers_path, class: "button" + (params[:controller]=="servers" ? " active" : "")
          = link_to t('Admins'), admins_path, class: "button" + (params[:controller]=="admins" ? " active" : "")
          = link_to t('Settings'), settings_path, class: "button" + (params[:controller]=="settings" ? " active" : "")
        = yield
