!!!
%html
  %head
    %title EasyJobs
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #wrapper
      #main
        #header
          %h1#title EasyJobs
        #menu.button_group
          = link_to 'Jobs', jobs_path, class: "button" + (params[:controller]=="jobs" ? " active" : "")
          = link_to 'Servers', servers_path, class: "button" + (params[:controller]=="servers" ? " active" : "")
        = yield
